doctype html
html
  head
    title Lyreks®
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap CSS 
    link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    link(href='mysite.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='stylesheets/bootstrap.min.js')
  body
    //
       Navigation Bar 
    .navbar.navbar-default
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          | Lyreks®
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='home') Home 
      Navigation Bar 
       //#{locals}
      li Match:
        ul
          each name in locals.data
            li 
              a(href="/attributes?name=#{name}") = #{name}
      
  .panel.panel-default
    .panel-body
     h5
       | #{locals.summary}
       br
     | #{locals.lyrics}

